/*
* All footer related styles go here
*/

@import 'shared';
.footer {
    @extend %base-container;
    @include center-vertically;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

%base-social-media {
    @include testing-border;
    @extend %default-image;
    @include square(15vw)
}

.social-media-1,
.social-media-2,
.social-media-3,
.social-media-4,
.social-media-5 {
    @extend %base-social-media;
}