/*
 * All styles related to the header
 */

@import 'shared';
.header {
    @extend %base-container;
    @extend %center-vertically;
}

.greeting-container {
    @extend %testing-border;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-portrait {
    @extend %testing-border;
    @extend %default-image;
    @include square(80vw);
}