/*
* All styles related to the header
*/

.header {
    @extend %base-container;
    @include center-vertically;

    background-image: img-path('backgrounds/space.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 100% 100%;

    @media #{$desktop} {
        height: 40vw;
        flex-direction: row-reverse;
        justify-content: center;
    }
}

.greeting-container {
    @include testing-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.75);
    margin: 1em;
}

$greetings-margin: .1em;
.greeting-head {
    @include text-default-style;
    margin-bottom: $greetings-margin;
}

.greeting-small-text {
    @include text-default-style;
    margin-top: $greetings-margin;
}

.img-portrait {
    @include testing-border;
    @extend %default-image;
    margin: 2em;
    @media #{$mobile} {
        @include square(80vw);
    }
    @media #{$desktop} {
        @include square(20vw)
    }
}