/*
* All styles related to the header
*/

.header {
    @extend %base-container;
    @include center-vertically;
}

.greeting-container {
    @include testing-border;
    display: flex;
    flex-direction: column;
    align-items: center;
}

$greetings-margin: .1em;
.greeting-head {
    @include text-default-style;
    margin-bottom: $greetings-margin;
}

.greeting-small-text {
    @include text-default-style;
    margin-top: $greetings-margin;
}

.img-portrait {
    @include testing-border;
    @extend %default-image;
    @include square(80vw);
}