/*
* All newsfeed related styles
*/

.feed-container {
    @extend %base-container;
    @include center-vertically;
}

%base-feed {
    @include testing-border;
    @include center-vertically;
    margin: .5em;
    border: .2em solid rgb(26, 26, 26);
    width: $global-width;
}

%feed-image-base {
    @include testing-border;
    @extend %default-image;
    @include rectangle(100%, 4em);
    margin-top: 0;
}

.feed-1,
.feed-2 {
    @extend %base-feed;
    background-color: $background-color;
}

.feed-image-1 {
    @extend %feed-image-base;
    background-image: img-path('backgrounds/react.png');
}

.feed-image-2 {
    @extend %feed-image-base;
    background-image: img-path('backgrounds/code.png');
}

%base-feed-text {
    @include text-default-style;
}

$feed-text-side-margin: 1em;
.feed-text-1,
.feed-text-2 {
    @extend %base-feed-text;
}