/*
* All shared css should be stored here
*/

%testing-border {
    $debug: true;
    margin: .15em;
    @if $debug {
        border-width: .1em;
        border-style: solid;
        border-color: red;
    }
}

%base-container {
    @extend %testing-border;
    flex-grow: 1;
}

%center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@function img-path($partial-path) {
    @return url('/public/images/'+$partial-path)
}

%default-image {
    background-image: img-path('temporary.bmp');
    background-size: 100%;
    background-position: center;
}

$global-width: 90vw;
@mixin rectangle($width,
$height) {
    width: $width;
    height: $height;
}

@mixin square($length) {
    @include rectangle($length,
    $length);
}