/*
* All shared css should be stored here
*/

// Configuration
@mixin testing-border {
    $debug: true;
    @if $debug {
        margin: .15em;
        border-width: .1em;
        border-style: solid;
        border-color: red;
    }
}

$mobile: '(max-width: 768px)';
$desktop: '(min-width: 769px)';

// Superclass to header|section|footer tags under body
%base-container {
    @include testing-border;
    flex-grow: 1;
}

// Center items vertically
@mixin center-vertically {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Convenience function for image paths
@function img-path($partial-path) {
    @return url('/public/images/'+$partial-path);
}

// Contains the default configuration for images
%default-image {
    background-image: img-path('temporary.bmp');
    background-size: 100%;
    background-position: center;
}

// A particular width that showed up often, may be important?
$global-width: 90vw;
@mixin text-default-style {
    margin: .5em;
}

// Used to shape items to any rectangle
@mixin rectangle($width,
$height) {
    width: $width;
    height: $height;
}

// A special class of rectangle
@mixin square($length) {
    @include rectangle($length,
    $length);
}