/*
* All styles related to the thumbnails
*/

.thumbnail-container {
    @extend %base-container;
    @include center-vertically;
    @media #{$desktop} {
        flex-direction: row;
        justify-content: center;
    }
}

%base-thumbnail {
    @include testing-border;
    @extend %default-image;
    @media #{$mobile} {
        flex-grow: 1;
        @include square($global-width);
    }
    @media #{$desktop} {
        @include square(15vw);
    }
}

.thumbnail-1,
.thumbnail-2,
.thumbnail-3,
.thumbnail-4 {
    @extend %base-thumbnail;
}