/*
* All styles related to the thumbnails
*/

.thumbnail-container {
    @extend %base-container;
    display: flex;
    @media #{$mobile} {
        @include center-vertically;
    }
    @media #{$desktop} {
        flex-direction: row;
    }
}

%base-thumbnail {
    @include testing-border;
    @extend %default-image;
    @media #{$mobile} {
        @include square($global-width);
    }
    @media #{$desktop} {
        @include square(20vw);
    }
    flex-grow: 1;
}

.thumbnail-1,
.thumbnail-2,
.thumbnail-3,
.thumbnail-4 {
    @extend %base-thumbnail;
}