/* 
* Main responsive file:
* Mostly just used to import other sass files
*/
.html {
  height: 100%; }

.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%; }

/*
* All shared css should be stored here
*/
.header, .thumbnail-container, .feed-container, .footer {
  margin: .15em;
  border-width: .1em;
  border-style: solid;
  border-color: red;
  flex-grow: 1; }

.img-portrait, .thumbnail-1,
.thumbnail-2,
.thumbnail-3,
.thumbnail-4, .feed-image-1,
.feed-image-2, .social-media-1,
.social-media-2,
.social-media-3,
.social-media-4,
.social-media-5 {
  background-image: url("./public/images/temporary.bmp");
  background-size: 100%;
  background-position: center; }

/*
* All styles related to the header
*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 769px) {
    .header {
      flex-direction: row-reverse;
      justify-content: center; } }

.greeting-container {
  margin: .15em;
  border-width: .1em;
  border-style: solid;
  border-color: red;
  display: flex;
  flex-direction: column;
  align-items: center; }

.greeting-head {
  margin: .5em;
  margin-bottom: 0.1em; }

.greeting-small-text {
  margin: .5em;
  margin-top: 0.1em; }

.img-portrait {
  margin: .15em;
  border-width: .1em;
  border-style: solid;
  border-color: red; }
  @media (max-width: 768px) {
    .img-portrait {
      width: 80vw;
      height: 80vw; } }
  @media (min-width: 769px) {
    .img-portrait {
      width: 20vw;
      height: 20vw; } }

/*
* All styles related to the thumbnails
*/
.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 769px) {
    .thumbnail-container {
      flex-direction: row;
      justify-content: center; } }

.thumbnail-1,
.thumbnail-2,
.thumbnail-3,
.thumbnail-4 {
  margin: .15em;
  border-width: .1em;
  border-style: solid;
  border-color: red; }
  @media (max-width: 768px) {
    .thumbnail-1,
    .thumbnail-2,
    .thumbnail-3,
    .thumbnail-4 {
      flex-grow: 1;
      width: 90vw;
      height: 90vw; } }
  @media (min-width: 769px) {
    .thumbnail-1,
    .thumbnail-2,
    .thumbnail-3,
    .thumbnail-4 {
      width: 15vw;
      height: 15vw; } }

/*
* All newsfeed related styles
*/
.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.feed-1,
.feed-2 {
  margin: .15em;
  border-width: .1em;
  border-style: solid;
  border-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw; }

.feed-image-1,
.feed-image-2 {
  margin: .15em;
  border-width: .1em;
  border-style: solid;
  border-color: red;
  width: 100%;
  height: 4em;
  margin-top: 0; }

.feed-text-1,
.feed-text-2 {
  margin: .5em; }

/*
* All footer related styles go here
*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.social-media-1,
.social-media-2,
.social-media-3,
.social-media-4,
.social-media-5 {
  margin: .15em;
  border-width: .1em;
  border-style: solid;
  border-color: red; }
  @media (max-width: 768px) {
    .social-media-1,
    .social-media-2,
    .social-media-3,
    .social-media-4,
    .social-media-5 {
      width: 15vw;
      height: 15vw; } }
  @media (min-width: 769px) {
    .social-media-1,
    .social-media-2,
    .social-media-3,
    .social-media-4,
    .social-media-5 {
      width: 5vw;
      height: 5vw; } }

/*# sourceMappingURL=responsive.css.map */
